* {
    margin: 0;
    font-family: sans-serif;
}

#background {
    min-height: 100vh;
    min-width: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 30px;
}

#container {
    width: 600px;

    display: flex;
    flex-direction: column;
    margin-top: 30px;

    background-color: rgb(118, 134, 223);
}

.book {
    margin: 30px;
    padding: 16px 8px;

    background-color: white;
    border: dashed 1px black;
}

button {
    border: 1px solid black;
    height: 30px;
    margin: 15px 15px 0px 10px;
    padding: 5px 10px;
}

.deleteButton {
    background-color: rgb(255, 0, 0);
}

#deleteButton:hover {
    background-color: rgb(255, 62, 62)
}

.read {
    background-color: green;
}

#addBook {
    margin-bottom: 15px;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
}

#bookForm {
    padding: 10px 0px;
}
#bookFormBG {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 300px;
    text-align: right;
}

input {
    margin: 5px 0px 0px 15px;
}

#checkbox {
    width: 30px;
    height: 30px;
}

label {
    justify-content: flex-end;
    margin: 0px;
}

.show {
    display: yes;
}

#hasRead {
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

#submit {
    width: 75%;
    font-size: 18px;
    font-weight: strong;
    height: fit-content;
    height: 30px;
}

#lastRow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}